body{
    background-color: #F6EBE4;
    background-size: 100%;
}
header{
	background-color: #E2BBC4;
	padding-left: 20px;
	padding-right: 20px;
}
.logo{
    width: 100px;
    height: 50px;
}
.nav-link{
    color: black;
}
.nome{
    flex-wrap: wrap;
    width: 80px;
    color: black;
}
.btn {
    background-color: #BF8D99;
    color: white;
}
footer{
	padding-left: 20px;
	padding-right: 20px;
}